<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  {{specialData}}
  <ion-button (click) ="getSpecialInfo()" expand="block">Get Special Info</ion-button>
  <ion-button (click) ="clearToken()" expand="block">Clear Token</ion-button>
  <ion-button (click) ="logout()" expand="block">Logout</ion-button>
  <ion-button routerLink="/upload" expand="block">Upload a picture</ion-button>
  

</ion-content>
